collection
{
	display: flex;
	justify-content: flex-start;
}

img
{
	max-width: 100%;
	height: auto;
}

#picture-manager
{
	display: none;
	width: 450px;
	height: 88%;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	border: 3px gray solid;
	border-radius: 5px;
	padding: 10px;

	overflow-y: auto;
	overflow-x: hidden;
}

#picture-modifier-button, #crop-container
{
	display: none;
}

canvas
{
	width: 100%;
	height: 100%;
}

.img-miniature
{
	width: 200px;
	height: 200px;
}

#article-renderer
{
		text-align: justify;
}

/*Paramétrer blockquote => https://www.xul.fr/css/blockquote.php */
blockquote
{
  font-style: italic;
  font-size: 16px;
  margin-left: 32px;
  font-family: Consolas, "Times New Roman", Verdana;
  border-left: 4px solid #CCC;
  padding-left: 8px;
}

/*Marquage de la suite dans le rendu de texte*/
LASUITE::before
{
	content: "__________LA SUITE ICI__________";
	display: block;
	background-color: gray;
	color: white;
	text-align: center;
}

/*#couverture-picture-renderer
{
	width: 500px;
	height: 500px;

	background-image: url("/home/mateus/my_photo-4.jpg");
	background-position: center center;
}*/
